<% include('partials/header.ejs') %>

<div class="container">
        <% games.forEach(v=> { %>
            <div class="cards">
                <img src="<%=v.background_image %>" height="150" />
                <p><%=v.name %></p>
                <!-- <div class="icons">
                    <%- v.onwishlist==true ? `<i class="fa-solid fa-heart"></i>` : '' %>
                    <%- v.owned==true ? `<i class="fa-solid fa-circle-check"></i>` : '' %>
                </div> -->
                <div class="cardButtonsParent">
                    <a href="/games/<%=v.id %>/view" class="btn btn-info">View</a>
                    <form action="/games/<%=v.id %>?_method=DELETE" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        <% }) %>
    </div>

            <!-- <form of search bar that goes to an /:search route and sumbit button
    const myArray = [res.data.name,res.data.cover,]
    Games.find({$includes arrayName})
    add an array into your objects of #'s {name: name} saying that  -->