<% include('partials/header.ejs') %>

    <% games.forEach(v=> { %>
        <div class="row each-game">
            <div class="col cover-img">
                <img src="<%=v.img %>" height="150" />
            </div>
            <div class="col title">
                <h1>
                    <%=v.title %>
                </h1>
            </div>
            <div class="col icons">
                <%- v.onwishlist==true ? `<i class="fa-solid fa-heart"></i>` : '' %>
                    <%- v.owned==true ? `<i class="fa-solid fa-circle-check"></i>` : '' %>
            </div>
            <div class="col game-buttons">
                <a href="/games/<%=v.id %>/view" class="btn btn-info">View</a>
                <form action="/games/<%=v.id %>?_method=DELETE" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    <% }) %>

            <!-- <form of search bar that goes to an /:search route and sumbit button
    const myArray = [res.data.name,res.data.cover,]
    Games.find({$includes arrayName})
    add an array into your objects of #'s {name: name} saying that  -->