
<form class="form" action="/games/<%=id%>/edit/?_method=PUT" method="POST">
<main class="view edit">
        <section class="other-info">
            <div class="row">
                <label class="font" for="name">Name: </label>
                <input class="input font" type="text" id="name" name="name" value="<%=name %>"/>
            </div>
            <div class="row">
                <label class="font" for="image">Image: </label>
                <input class="input font" type="text" id="image" name="background_image" value="<%=background_image %>"/>
            </div>
            <div class="row">
                <label class="font" for="released">Release Date: </label> 
                <input class="input font" type="text" name="released" value="<%=released %>"/>
            </div>
            <div class="row">
                <label class="font" for="tags">Tags: </label>
                <input class="input font" type="text" name="tags" value="<%=tags %>"/>
            </div>
            <div class="row">
                <label class="font" for="notes">Game Notes: </label>
                <input class="input font" type="text" name="notes" value="<%=notes %>"/>
            </div>
        </section>
            
        <fieldset>
            <label class="font" for="onwishlist">Add to Wishlist</label>
            <input class="input font" id="owned-box" type="checkbox" name="onwishlist"/>
            <label class="font" for="owned">Add to My Games: </label>
            <% if (owned === true) { %>
                <input class="input font" id="owned-box" type="checkbox" name="owned" checked/>
                <% } else { %>
                    <input class="input font" id="owned-box" type="checkbox" name="owned"/>
                    <% } %>
        </fieldset>

        <fieldset>
            <legend class="font">Status:</legend>
            <label class="font" for="inprogress">In Progress: </label>
                <% if (inprogress === true) { %>
                    <input id="inprogress" type="radio" name="status" checked/>
                <% } else { %>
                    <input type="radio" name="inprogress"/>
                <% } %>
            <label class="font" for="complete">Complete: </label>
                <% if (complete === true) { %>
                    <input id="complete" type="radio" name="status" checked/>
                <% } else { %>
                    <input type="radio" name="complete"/>
                <% } %>
        </fieldset>
    <input class="buttons" type="submit" value="Submit">
    <button class="buttons">Cancel</button>
</main>
</form>