<% include('partials/header.ejs') %>

<h1><%=name %></h1>

<main class="each-game">
    <div class="container">
        <div class="row">
            <div class="col cover-img">
                <img src="<%=background_image %>" height="150"/>
            </div>
            <div class="col checkboxes">
                <% if(owned) { %>
                <p>Owned</p>
                <% } %>

                <% if(notstarted) { %>
                    <p>Not Started</p>
                <% } else if(inprogress) { %> 
                    <p id="inprogress">In-Progress </p>
                <% } else { %>
                    <p class="complete">Complete </p>
                <% } %>
            </div>
            <div class="col">
                <p>Release Date: <%=released %></p>

                <p>Tags: <%=tags %></p>
            </div>
        </div>
        <div class="row">
            <p>Game Notes:</p>
            <div class="notes scroll-box">
                <div><%=notes %></div>
            </div>
        </div>
    </div>
    <a class="btn btn-default" href="/games/<%=id%>/edit">Edit</a>
    <a class="btn btn-default" href="/games">Back</a>
</main>
