<% include('partials/header.ejs') %>

<h1><%=title %></h1>

<main class="each-game">
    <div class="container">
        <div class="row">
            <div class="col game-img">
                <img src="<%=img %>" height="150"/>
            </div>
            <div class="col checkboxes">
                <% if(owned) { %>
                <p>Owned</p>
                <% } %>

                <% if(notstarted) { %>
                    <p>Not Started</p>
                <% } else if(inprogress) { %> 
                    <p id="inprogress">In-Progress </p>
                <% } else { %>
                    <p class="complete">Complete </p>
                <% } %>
            </div>
            <div class="col">
                <p>Release Date: <%=releasedate %></p>
                <p>Developer: <%=developer %></p>
                <p>Tags: <%=tags %></p>
            </div>
        </div>
        <div class="row scroll-box">
            <p>Game Notes:</p>
            <article class="notes">
                <p><%=notes %></p>
            </article>
        </div>
    </div>
    <a class="btn btn-default" href="/games/<%=id%>/edit">Edit</a>
    <a class="btn btn-default" href="/games">Back</a>
</main>
